.footer {
  display: flex;
  min-height: 350px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #1f1f1f;
  color: #ffffff;
  font-size: 18px;
  box-sizing: border-box;
}
